.Rproj.user
.Rhistory
.RData
.Ruserdata
application/*.RData
application/*.txt
application/*.zip
application/smooth/*.dat
application/smooth/*.pdf
figures/output
figures/sphere/*.dat
figures/sphere/*.pdf
simulation/output
